@page "/"
@using LiftWise.Data
@using LiftWise.Models.Helper
@inject IUserHandler userHandler
@inject IDataSource dataSource
@inject NavigationManager navigationManager

<div class="container">
    <div id="spacer"></div>
    @if (userHandler.ActiveUser != null)
    {
        <h2 class="mx-3 mb-4">Welcome back, <span class="fw-bold text-primary">@(userHandler.ActiveUser.firstName)!</span></h2>
        @* <p>user logged in</p> *@
    }

    <!-- Reservations -->
    <div class="section-box p-3 mb-5">
        <div class="fs-3 mb-3">Your reservations</div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            <!-- card 1 -->
            <div class="col">
                <div class="box-card p-3 h-100">
                    <div>
                        <div class="fs-3 text-dark">FitUP</div>
                        <p class="text-muted mb-2 text-light">Via I. Newton, 11, 09131 Cagliari CA</p>
                    </div>
                    <div class="mt-auto">
                        <span class="badge rounded-pill bg-success mb-1">Sat 10/05, 18:00-19:00</span><br />
                        <span class="badge rounded-pill bg-warning">Closing soon - 22:00</span>
                    </div>
                    <div class="card-footer-btns mt-4">
                        <button class="btn btn-outline-primary w-100 text-uppercase fw-bold">cancel</button>
                        <button class="edit-btn"><i class="bi bi-pencil-fill"></i></button>
                    </div>
                </div>
            </div>
            <!-- card 2 -->
            <div class="col">
                <div class="box-card p-3 h-100">
                    <div>
                        <div class="fs-3 text-dark">SSD Sport Area</div>
                        <p class="text-muted mb-2 text-light">Via delle Serre, 10, 09044 Quartucciu CA</p>
                    </div>
                    <div class="mt-auto">
                        <span class="badge rounded-pill bg-success mb-1">Tue 21/05, 6:00-8:00</span><br />
                        <span class="badge rounded-pill bg-danger">Now closed</span>
                    </div>
                    <div class="card-footer-btns mt-4">
                        <button class="btn btn-outline-primary w-100 text-uppercase fw-bold">cancel</button>
                        <button class="edit-btn"><i class="bi bi-pencil-fill"></i></button>
                    </div>
                </div>
            </div>
            <!-- Add -->
            <div class="col">
                <button class="btn btn-outline-primary add-box py-3 h-100 w-100">
                    + Add
                </button>
            </div>
        </div>
    </div>

    <!-- Memberships -->
    <div class="section-box p-3 mb-5">
        <div class="fs-3 mb-3">Your memberships</div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            <!-- card 1 -->
            @if(memberships != null)
            {
                @foreach (ViewedMembership membership in memberships)
                {
                    <div class="col">
                        <div class="box-card p-3 h-100">
                            <div>
                                <div class="fs-3 text-dark">@membership.gymName</div>
                                <p class="text-muted mb-2 text-light">@membership.gymAddress</p>
                                <span class="badge rounded-pill bg-success mb-1">Expires on @membership.endDate.ToShortDateString()</span><br />
                                <span class="badge rounded-pill bg-months">@(Math.Round((double)((membership.endDate - membership.startDate).Days / 30))) months</span>
                            </div>
                            <div class="card-footer-btns mt-4">
                                <button class="btn btn-primary fw-bold w-100 text-uppercase" style="border-radius: 10px">details</button>
                            </div>
                        </div>
                    </div>
                }
            }
            <!-- Add -->
            @* <div class="col">
                <a href="" style="text-decoration: none">
                    <div class="add-box text-primary h-100">
                        + Add
                    </div>
                </a>
            </div> *@
            <div class="col">
                <button class="btn btn-outline-primary add-box py-3 h-100 w-100">
                    + Add
                </button>
            </div>
        </div>
    </div>
</div>

@code{
	List<ViewedMembership>? memberships = null;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		if (userHandler.ActiveUser == null) navigationManager.NavigateTo("/login");
		LoadData();
	}

	private void LoadData()
	{
        if (userHandler.ActiveUser != null)
        {
            memberships = dataSource.GetMemberships(userHandler.ActiveUser.idUser);
        }		
	}
}